h1{
    color:aqua;
    text-align:center;

}
.header{
    background-color:lime;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
h2,h3{
    text-align:center;
}